@model Student
<h2>Student Details</h2>

<div>
    <img src="~/Images/@Model.ImageURL" style="width:150px" />
</div>
<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Address:</strong> @Model.address</p>